"""SQLAlchemy repository implementation."""

from src.database.repositories.base import BaseRepository


class SQLAlchemyRepository(BaseRepository):
    """SQLAlchemy specific repository implementation."""
    pass
